a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin: 3px;
  display: inline-block;
  line-height: 2.5;
}

a.reference {
  font-weight: bold;
}

a.cell {
  border-radius: 2px;
  padding: 0 5px;
}

a.undefinedCell {
  border: 1px red solid;
  border-radius: 2px;
  background: #FFF !important;
  padding: 0 5px;
}
