<div id="filter-wrapper">
  <div class="filter-title-wrapper">
    <div class="filter-title">
      Interoperability
    </div>
  </div>
  <mat-card>
    <div id="interoperability">
      <span>SDK</span>
      <app-sync-sdk-qcs-button></app-sync-sdk-qcs-button>
      <span>QCS</span>
      <app-sync-qcs-qer-button></app-sync-qcs-qer-button>
      <span>QER</span>
    </div>
  </mat-card>

  <div class="filter-title-wrapper">
    <div class="filter-title">
      Tables
    </div>
    <div>
      <span>Show/Hide tables</span>
    </div>
  </div>
  <mat-card>
    <div id="tables">
      <ul style="list-style: none">
        <li>
          <mat-checkbox [(ngModel)]="showSdkTable" (ngModelChange)="updateShowTable()">SDK</mat-checkbox>
        </li>
        <li>
          <mat-checkbox [(ngModel)]="showQCSTable" (ngModelChange)="updateShowTable()">Quantum Cloud Services</mat-checkbox>
        </li>
        <li>
          <mat-checkbox [(ngModel)]="showQERTable" (ngModelChange)="updateShowTable()">Quantum Execution Resources</mat-checkbox>
        </li>
        <li>
          <mat-checkbox [(ngModel)]="showPLTable" (ngModelChange)="updateShowTable()">Programming Languages</mat-checkbox>
        </li>
        <li>
          <mat-checkbox [(ngModel)]="showCompilerTable" (ngModelChange)="updateShowTable()">Compiler &amp; Transpilers</mat-checkbox>
        </li>
        <li>
          <mat-checkbox [(ngModel)]="showOTable" (ngModelChange)="updateShowTable()">Orchastrators</mat-checkbox>
        </li>
      </ul>
    </div>
  </mat-card>

  <div class="filter-title-wrapper">
    <div class="filter-title">
      Filter
    </div>
    <div>
      <button mat-button id="clear-all" (click)="clearAll()">
        <span>clear all</span>
      </button>
    </div>
  </div>



  <mat-accordion>
    <app-filter-panel title="Software Development Kit" [fields]="sdkFields"></app-filter-panel>
    <app-filter-panel title="Qunatum Cloud Service" [fields]="qcsFields"></app-filter-panel>
    <app-filter-panel title="Quantum Execution Resource" [fields]="qerFields"></app-filter-panel>
    <app-filter-panel title="Programming Languages" [fields]="qplFields"></app-filter-panel>
    <app-filter-panel title="Compiler" [fields]="compilerFields"></app-filter-panel>
    <app-filter-panel title="Orchestrators" [fields]="orchestratorFields"></app-filter-panel>
  </mat-accordion>
</div>
