<ng-container *ngIf="isArray(value); else single">
    <ng-container *ngIf="value.length > 0; else emptyArray">
        <ng-container *ngFor="let singleCell of value">
           <app-item-badge (click)="filterToReference(singleCell)" [color]="color" [value]="singleCell.toString()" [isUndefined]="singleCell.isUndefined"></app-item-badge>
        </ng-container>
    </ng-container>
    <ng-template #emptyArray>
        <a>--none--</a>
    </ng-template>
</ng-container>
<ng-template #single>
    <ng-container *ngIf="isID; else primitive">
        <a class="normal" (click)="openEntityDialog()">{{value}}</a>
    </ng-container>
    <ng-template #primitive>
        <ng-container *ngIf="isPrimitive(value); else reference">
            <a>{{value}}</a>
        </ng-container>
    </ng-template>
    <ng-template #reference>
        <app-item-badge (click)="filterToReference(value)" [color]="color" [value]="value.toString()" [isUndefined]="value.isUndefined"></app-item-badge>
    </ng-template>
</ng-template>
