/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:nth-child(even) {
  background-color: #e9e7ed;
}

.reference {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px black dotted;
  font-weight: bold;
}
